.saved-news-header {
  padding: 120px 104px 56px;
  color: #1a1b22;
  flex-direction: column;
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
}
.saved-news-header__title {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 0;
}
.saved-news-header__info {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  font-family: Roboto, Arial, sans-serif;
  color: #1a1b22;
  text-align: start;
  margin: 28px 0 30px;
}
.saved-news-header__key {
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  text-align: start;
}
.saved-news-header__span {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 900px) {
  .saved-news-header {
    padding: 90px 40px 32px;
  }
  .saved-news-header__title {
    font-size: 14px;
    line-height: 24px;
  }
  .saved-news-header__info {
    margin: 16px 0;
    font-size: 30px;
    line-height: 34px;
  }
  .saved-news-header__key {
    font-size: 14px;
    line-height: 24px;
  }
  .saved-news-header__span{
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .saved-news-header {
    padding: 64px 16px 32px;
  }
  .saved-news-header__title {
    font-size: 12px;
  }
  .saved-news-header__key {
    font-size: 18px;
  }
  .saved-news-header__span{
    font-size: 18px;
  }
}
