.about {
  display: flex;
  max-width: 1440px;
  padding: 0 104px;
  margin: 0 auto;
}
.about__author {
  margin-top: 130px;
  max-width: 600px;
}
.about__img {
  margin: 80px 56px 80px 0;
  width: 464px;
  object-fit: cover;
  height: 464px;
}
.about__author_title {
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  text-align: start;
  margin-bottom: 24px;
  
}
.about__author_subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  margin: 0 0 24px;
  
}

@media screen and (max-width: 950px) {
  .about {
    padding: 0 40px;
  }
  .about__author {
    margin-top: 40px;
    max-width: 424px;
  }
  .about__img {
    width: 232px;
    height: 232px;
    margin: 61px 32px 61px 0;
  }
  .about__author_title {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 505px) {
  .about {
    padding: 0 16px;
    display: block;
  }
  .about__author {
    margin-top: 24px;
  }
  .about__img {
    width: 272px;
    height: 272px;
    margin: 32px 8px 24px;
  }
}
